.blogs-container {
  margin: 20px;
  font-family: Arial, sans-serif;
}

.error-message {
  color: red;
  font-weight: bold;
}

.no-blogs-message {
  color: gray;
  font-style: italic;
}

.blogs-list {
  list-style-type: none;
  padding: 0;
}

.blog-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.blog-title {
  font-size: 24px;
  color: #333;
}

.blog-content {
  font-size: 16px;
  color: #555;
}
.blog-category {
  font-size: 14px;
  color: #888;
  cursor: pointer; /* Change cursor to pointer */
}

.blog-category strong {
  font-weight: bold;
}

/* Optional: Add hover effect */
.blog-category:hover {
  text-decoration: underline; /* Underline text on hover */
}
